
        .div {
            margin: auto;
            display: flex;
            flex-direction: column;
            max-width: 470px;
            padding-top: 15px;
            padding-bottom: 15px;
            position: static;
            
          
        }
        .row-1 {
          display: flex;
    
        }
        @media (max-width: 999px) {
          .row-1 {
            flex-direction: column;
            align-items: stretch;
           
          }
        }
        .column {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 0px;
        }
        @media (max-width: 999px) {
          .column {
            width: 100%;
          }
        }
        .tile-1 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-2 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-2 {
            width: 100%;
          }
        }
        .tile-2 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-3 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-3 {
            width: 100%;
          }
        }
        .tile-3 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-4 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-4 {
            width: 100%;
          }
        }
        .tile-4 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-5 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-5 {
            width: 100%;
          }
        }
        .tile-5 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .row-2 {
          display: flex;
        }
        @media (max-width: 999px) {
          .row-2 {
            flex-direction: column;
            align-items: stretch;
          }
        }
        .tile-6 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-6 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-6 {
            width: 100%;
          }
        }
        .tile-7 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-7 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-7 {
            width: 100%;
          }
        }
        .tile-8 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-8 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-8 {
            width: 100%;
          }
        }
        .tile-9 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-9 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-9 {
            width: 100%;
          }
        }
        .tile-10 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .row-3 {
          display: flex;
        }
        @media (max-width: 999px) {
          .row-3 {
            flex-direction: column;
            align-items: stretch;
          }
        }
        .tile-11 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-10 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-10 {
            width: 100%;
          }
        }
        .tile-12 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-11 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-11 {
            width: 100%;
          }
        }
        .tile-13 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-12 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-12 {
            width: 100%;
          }
        }
        .tile-14 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-13 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-13 {
            width: 100%;
          }
        }
        .tile-15 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .row-4 {
          display: flex;
        }
        @media (max-width: 999px) {
          .row-4 {
            flex-direction: column;
            align-items: stretch;
          }
        }
        .tile-16 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-14 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-14 {
            width: 100%;
          }
        }
        .tile-17 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-15 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-15 {
            width: 100%;
          }
        }
        .tile-18 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-16 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-16 {
            width: 100%;
          }
        }
        .tile-19 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-17 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-17 {
            width: 100%;
          }
        }
        .tile-20 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .row-5 {
          display: flex;
          height:fit-content
        }
        @media (max-width: 999px) {
          .row-5 {
            flex-direction: column;
            align-items: stretch;
            margin-block-end: 0px
          }
        }
        .tile-21 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-18 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-18 {
            width: 100%;
          }
        }
        .tile-22 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-19 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-19 {
            width: 100%;
          }
        }
        .tile-23 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-20 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-20 {
            width: 100%;
          }
        }
        .tile-24 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }
        .column-21 {
          display: flex;
          flex-direction: column;
          line-height: normal;
          width: calc(20.71% - 16px);
          margin-left: 20px;
        }
        @media (max-width: 999px) {
          .column-21 {
            width: 100%;
          }
        }
        .tile-25 {
          display: flex;
          max-width: 82px;
          height: 82px;
          width: 82px;
          background-color: #E6E2CC;
        }

#a{
    border-radius: 30px 0 0px 0px;
margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
   #b{
margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
   #c{
margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
   #d{
margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
   #e{
    border-radius: 0 30px 00px 0px;
margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
   #f
   {
margin: 0;
position: relative;
top:30px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
   #g
   {
margin: 0;
position: relative;
top: 30px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#h
{
margin: 0;
position: relative;
top: 30px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#i   {
margin: 0;
position: relative;
top: 30px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#j   {
margin: 0;
position: relative;
top: 30px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#k   {
margin: 0;
position: relative;
top: 20px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#l{
margin: 0;
position: relative;
top: 20px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#m
{
margin: 0;
position: relative;
top: 20px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#n{
margin: 0;
position: relative;
top: 20px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#o{
margin: 0;
position: relative;
top: 20px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#p{
margin: 0;
position: relative;
top: 10px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#q{
margin: 0;
position: relative;
top: 10px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#r{
margin: 0;
position: relative;
top: 10px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#s{
margin: 0;
position: relative;
top: 10px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#t{
margin: 0;
position: relative;
top: 10px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#u{
border-radius: 0 0px 0px 30px;
margin: 0;
position: relative;
top: 0px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#v
{
margin: 0;
position: relative;
top: 0px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#w
{
margin: 0;
position: relative;
top: 0px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#x
{
margin: 0;
position: relative;
top: 0px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}
#y
{
border-radius: 0 0 30px 0px;
margin: 0;
position: relative;
top: 0px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}

.pagefourworded {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    /* justify-content: flex-start; */
    align-items: center;
    position:relative;
    
  }
  #currentPlayer {
    max-width: 271px;
    color: rgba(234, 220, 140, 1);
    font-size: 35px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 1px;
    font-weight:800
    
  }
  #firstName {
    max-width: 460px;
    margin-top: -17px;
    color: rgba(234, 220, 140, 1);
    font-size: 110px;
    letter-spacing: 0%;
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-width: thin medium thick;
    height: 0px;
    font-weight:800
  }
 
  * {background-color: #C2BFAD}

  #fourinarow {
    color: #EADC8C;
    font-size:  170px;
    letter-spacing: 0%;
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    align-items: center;
    max-width: fit-content;
    margin-bottom: -15px;
}